/package-info.class
/LinkedList.class
/LinkedList$Node.class
/LinkedListIterator.class
/Iterator.class
/Comparator.class
/LinkedList$LinkedListIterator.class
/Sorter.class
/LinkedList$Noeud.class
/Iterable.class
/Sortable.class
